.goods-cart {
    min-height: 350px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    border: 1px solid #eaedef;
    margin: 0 0 40px 0;
}

.goods-cart img {
    margin-top: 35px;
    width: 144px;
    height: 215px;
}

.goods-cart .goods-name {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.goods-cart .cost {
    font-size: 18px;
}